# 1. PostgreSQL
POSTGRES_DB=fintech_auditoria
POSTGRES_USER=auditoria_user
POSTGRES_PASSWORD=cambia_esto_en_produccion
DATABASE_URL=postgresql://auditoria_user:cambia_esto_en_produccion@postgres:5432/fintech_auditoria

# 2. Apache Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_TRANSACCIONES=fintech.transacciones
KAFKA_TOPIC_AUDITORIA=fintech.auditoria
KAFKA_TOPIC_ALERTAS=fintech.alertas

# 3. Delta Lake
DELTA_LAKE_PATH=/data/delta

# 4. Reportes
REPORTES_OUTPUT_PATH=/data/reportes

# 5. API Gateway
API_SECRET_KEY=genera_una_clave_segura_aqui
API_PORT=8000

# 6. Zookeeper (requerido por Kafka)
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000
