# --- PostgreSQL ---------------------------------------------------------------
POSTGRES_DB=fintech_auditoria
POSTGRES_USER=auditoria_user
POSTGRES_PASSWORD=cambia_esto_en_produccion
DATABASE_URL=postgresql://auditoria_user:cambia_esto_en_produccion@postgres:5432/fintech_auditoria

# --- Apache Kafka -------------------------------------------------------------
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_TRANSACCIONES=fintech.transacciones
KAFKA_TOPIC_AUDITORIA=fintech.auditoria
KAFKA_TOPIC_ALERTAS=fintech.alertas

# --- Delta Lake ---------------------------------------------------------------
DELTA_LAKE_PATH=/data/delta

# --- Reportes -----------------------------------------------------------------
REPORTES_OUTPUT_PATH=/data/reportes

# --- API Gateway --------------------------------------------------------------
API_SECRET_KEY=genera_una_clave_segura_aqui
API_PORT=8000

# --- Zookeeper (requerido por Kafka) ------------------------------------------
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000
